{% extends "base.html" %}

{% block content %}

<script>
  (function () {
      $("#aboutButton").css("background-color", "#832baf")
  })()
</script>


    <div class="about">

      <h1 class="fascinate title">Prompto!</h1>
      <h2 class="about-chapter">...what is it?</h2>

      <div class="about-header"><h2><i class="fa-solid fa-user-pen"></i> Prompto is a <span>character development</span> tool.</h2></div>

      <p>Create your worlds, <span class="pink-header">Populate</span> them with characters and then use the prompt tools in <span class="pink-header">Write</span> to throw them into new and unusual situations.</p>

      <div class="about-header"><h2><i class="fa-solid fa-folder-tree"></i> Prompto is an <span>organisation</span> tool.</h2></div>

      <p>Ever written an awesome one-shot about your favourite ship, only to have it disappear into the maze of Google Docs (or your word-processing software of choice)? With the filter tools in <span class="pink-header">Stories</span> - or the character pages in <span class="pink-header">Worlds</span> - you can easily find which stories your characters feature in. You can also add (or remove) characters at any time as your story develops.</p>

      <div class="about-header"><h2><i class="fa-solid fa-pen-clip"></i> Prompto wants you to <span>write</span>!</h2></div>

      <p>With minimal set-up, you can get inspired and get writing in just a few clicks! Prompto may not be suitable for developing your next novel (though you're welcome to try), but perfect for any short stories, drabbles or one-shots you feel compelled to pen. Stories can be edited and downloaded once they are created - just find the story in <span class="pink-header">Stories</span> to see your options.</p>

      <h2 class="about-chapter">...who is it for?</h2>

      <p>Prompto is for anyone who finds it useful, but was built with character-driven writers in mind, as well as any author that finds themselves with a limited amount of time to actually dedicate to their craft.</p>

      <h2 class="about-chapter">...who made it?</h2>
      <p>Prompto was created by me, Maria Dunn. Hello! I am a novice developer and mother-of-two who has been scribbling stories since I was old enough to hold a pencil. Having very little time to dedicate to this passion now, I wanted to create an app that would help people in similar situations to get writing, even if it's just for a few minutes a day.</p>

      <p>Prompto was created with Python and JavaScript, using the Flask framework. As a solo project by an amateur programmer, please be aware that bugs may happen - don't rely on Prompto as your primary method of storing your writing. Thank you for using Prompto!</p>

    </div>

{% endblock %}
